body,
#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.title {
    margin: 0px;
    padding: 200px 100px 10px 10px;
    background: linear-gradient(45deg, #ff5977 0%, #ff9eaf 40%, #ff8fa5 41%, #ffbac6 100%);
    font-weight: bold;
    font-size: 32px;
    color: white;
}